@font-face {
	font-family: TBC Contractica CAPS;
	src: url(../fonts/TBCContracticaCAPS-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: TBC Contractica CAPS;
	src: url(../fonts/TBCContracticaCAPS-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: TBC Contractica;
	src: url(../fonts/TBCContractica-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: TBC Contractica;
	src: url(../fonts/TBCContractica-Regular.ttf);
	font-weight: 400;
}
